/* 구글 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: whitesmoke;
    padding-top: 100px;
}

h1 {
    margin-bottom: 10px;
    font-weight: 300;
    color: tomato;
}

.wrapper {
    --calendar-size: 430px;
    width: var(--calendar-size);
    height: var(--calendar-size);
    background: #fff;
    border-radius: 10px;
    display: none;
}

.wrapper header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 30px 10px;
    background: tomato;
    border-radius: 10px 10px 0px 0px;
    color: white;
}

.current-date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper header p {
    font-size: 1rem;
    font-weight: 500;
}

.wrapper header i {
    cursor: pointer;
    font-size: 1.5rem
}

.calendar {
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.calendar .weeks {
    margin-bottom: 30px;
    color: #aaa;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
}

.calendar .weeks li {
    font-weight: 500;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
}

.calendar ul {
    list-style: none;
    text-align: center;
}

.calendar ul li {
    position: relative;
    width: calc(100% / 7);
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    margin-bottom: 20px;
}

.days li.inactive {
    color: #aaa;
}

.calendar .days li::before {
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-45%, -50%);
    z-index: -1;
}

.days li:hover::before {
    background-color: #f2f2f2;
}

.days li.active::before {
    border: 1px solid tomato;
}

.sunday {
    color: red;
}

.calendar-picker {
    margin-bottom: 20px;
    width: 200px;
    height: 35px;
    border: 1px solid #aaa;
    padding: 5px;
    border-radius: 5px;
}

.calendar-picker:focus {
    border: none;
    outline: 2px solid lightblue;
}